extends base.pug
append body
    <div>
        <span style="display: flex; justify-content: center; align-items: center; height: 90vh">
             <h1> #{current_user.FullName}</h1>
        </span>
    </div>